name: CI

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - published

env:
  IMAGE_NAME: quay.io/bgruening/galaxy-imaging

jobs:
  build:
    if: github.event_name != 'release'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          pull: true
          push: false
          tags: ${{ env.IMAGE_NAME }}:ci-${{ github.sha }}

  release:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    environment:
      name: quay.io
    env:
      QUAY_OAUTH_TOKEN: ${{ secrets.QUAY_OAUTH_TOKEN || vars.QUAY_OAUTH_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Quay
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: '$oauthtoken'
          password: ${{ secrets.QUAY_OAUTH_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          pull: true
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.event.release.tag_name }}
            ${{ env.IMAGE_NAME }}:latest
